.horizontal-separator {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--principal-color);

  &::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background: linear-gradient(to right, var(--principal-color), transparent) ;
    transform: translateY(4px);
    animation: lengthen;
    animation-timeline: view();
    animation-range: entry 40% cover 90%;
  }
}

@keyframes lengthen {
  from {
    width: 2px;
  }
  to {
    width: 250px;
  }
}