.home-article-container {
  display: flex;
  align-items: center;
  justify-items: center;
}
.home-article {
  display: flex;
  width: 20rem;
  color: aliceblue;
  font-weight: 900;
}

.home-article p {
  opacity: 0;
  margin: 0;
  animation: initial-text 500ms 2s ease-out forwards;
}

@keyframes initial-text {
  100% {
    opacity: 1;
  }
}