.home-article-container {
  display: flex;
  align-items: center;
  justify-items: center;
}
.home-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  color: aliceblue;
  font-weight: 900;
}

.home-article p {
  margin: 0;
  animation: reveal both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.title-about {
  font-size: 2rem;
}

.vertical-bar {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--principal-color);
}

.about-me-list {
  list-style: none;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
