.home-title-container {
  padding-bottom: 8px;
  overflow: hidden;
}

.home-title {
  margin: 0;
  font-weight: bold;
  transform: translateY(90px);
  animation: initial-nav-title 800ms 1.8s cubic-bezier(1,-0.01, 0, 1) forwards;
}

@keyframes initial-nav-title {
  100% {transform: translateY(0px);}
}