@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

:root {
  --principal-color: #dd0c16;
  --big-font: "Kaushan Script";
}

body {
  margin: 0;
  padding: 0;
  background-color: azure;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
