.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  animation: initial-nav-bg 2s cubic-bezier(1, 0.06, 0.32, 0.91);
}

@keyframes initial-nav-bg {

  0% {
    transform: translateY(500px);
    width: 15rem;
    height: 40rem;
  }
  50% {
    transform: translateY(0px);
    width: 15rem;
    height: 10rem;
  }
  60% {
    width: 15rem;
    height: 10rem;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}

.nav-video {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}

.nav-title-container {
  padding-bottom: 2px;
  overflow: hidden;
  margin: auto;
  position: absolute;
}

.nav-title {
  margin: 0;
  color: var(--principal-color);
  font-family: var(--big-font);
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 5px;
  animation: initial-nav-title 3s cubic-bezier(1,-0.01, 0.49, 1.01);
}

@keyframes initial-nav-title {
  0% {transform: translateY(100px);}
  100% {transform: translateY(0px);}
}
